body {
  background: #efefef;
  font-family: system-ui, sans-serif;
}

.square{
  display: block;
  width: 50%;
  height: 50%;
  float: left;
}
.square__text{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
}

.title {
  font-size: 24px;
}
.yellow{
  background: yellow;
}
.yellow.highlight {
  background: orange;
}

.blue{
  background: blue;
}
.red{
  background: red;
}
.green{
  background: green;
}
.pink{
  background: pink;
}
.black{
  background: black;
}

.off{
  background: grey;
}

.highlight{
  background: black;
}

.box {
  border-radius: 5px;
  border: solid 1px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5%;
}
* {box-sizing: border-box;}

#center{
  /* border: 1px solid #000; */
  border-radius: 5px;
  margin: 10px;
}

.wrapper > div {

  /* background-color: #000; */
  padding: 1em;
  color: #000;
}

.nested {
  border: 2px solid #ffec99;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}
